[Unit]
Description=FreeSWITCH Service
After=network.target local-fs.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/freeswitch -nf -ncwait -nonat
ExecStop=/usr/bin/fs_cli -x "shutdown elegant"
ExecReload=/usr/bin/fs_cli -x "reloadxml"
TimeoutStopSec=20
Restart=always
RestartSec=5

LimitCORE=infinity
LimitNOFILE=65535
LimitNPROC=65535
TasksMax=infinity

[Install]
WantedBy=multi-user.target
